[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/ekamolov/lesson24_home_work
ExecStart=/home/ekamolov/lesson24_home_work/venv/bin/python -m gunicorn run:app -b 0.0.0.0:8080 -w 4

[Install]
WantedBy=multi-user.target

